.card{
    display: flex;
    border: 2px solid;
    padding: 10px;
    margin-bottom: 20px;
}

.img{
    margin: 10px;
}

.info{
    margin: 10px;
    font-size: 20px;
}

.info > button {
    width: 170px;
    height: 32px;
    font-size: 20px;
    border-radius: 15px;
    cursor: pointer;
}

.img > img {
    height: 220px;
    width: 220px;
}
