.card{
    display: flex;
    border: 1px solid rgb(60, 60, 60);
    padding: 10px;
    margin-bottom: 20px;
    background-color: rgb(190, 224, 242);
    border-radius: 10px;
}

.img{
    margin: 10px;
}

.info{
    margin: 10px;
    font-size: 20px;
}

.info > button {
    position: relative;
    left: 120px;
    width: 170px;
    height: 35px;
    margin-top: 4px;
    font-size: 20px;
    border-radius: 20px;
    cursor: pointer;
    border: none;
    color: white;
    background:rgb(14, 67, 102);
}

.info > button:hover{
    background-color: rgb(60, 97, 131);
}

.info-field {
    display: flex;
    margin: 15px 0px;
}

.que {
    font-size: 22px;
    font-weight: bold;
}

.ans {
    font-size: 22px;
    margin-left: 8px;
    color: rgb(65, 70, 75);
}

.img > img {
    height: 240px;
    width: 240px;
    border-radius: 10px;
}
