.card{
    display: flex;
    border: 1px solid rgb(60, 60, 60);
    padding: 10px;
    margin-bottom: 20px;
}

.img{
    margin: 10px;
}

.info{
    margin: 10px;
    font-size: 20px;
}

.info > button {
    width: 170px;
    height: 35px;
    margin-top: 4px;
    font-size: 20px;
    border-radius: 20px;
    cursor: pointer;
    border: none;
    color: white;
    background-color: rgb(70, 55, 160);
}

.info-field {
    display: flex;
    margin: 15px 0px;
}

.que {
    font-size: 22px;
    font-weight: bold;
}

.ans {
    font-size: 22px;
    margin-left: 8px;
    color: rgb(95, 92, 92);
}

.img > img {
    height: 220px;
    width: 220px;
}
