.register{
    height: calc(100vh - 50px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background:linear-gradient(rgba(205, 202, 202, 0.3),rgba(205, 202, 202, 0.3)),url("https://images.unsplash.com/photo-1515787366009-7cbdd2dc587b?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80");
    background-size:cover;
}

.registerTitle{
    font-size: 50px;
}

.registerForm{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

.registerForm > label{
    margin: 10px 0;
}

.registerInput{
    padding: 10px;
    background-color: white;
    border: none;
}

.registerButton{
    margin-top: 20px;
    cursor: pointer;
    background-color: #f5e3e3;
    border: 1px solid;
    border-radius: 12px;
    padding: 8px;
    cursor: pointer;
    font-size: 15px;
}

.registerLoginButton{
    position: absolute;
    top: 60px;
    right: 20px;
    background-color: #f5e3e3;
    cursor: pointer;
    border-radius: 12px;
    padding: 8px;
    font-size: 15px;
}