.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Carlito;
}

.input{
    margin-top: 20px;
    font-size: 30px;
}

.results{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.results > button {
    width: 250px;
    margin: 20px;
    font-size: 20px;
    padding: 8px;
    border-radius: 30px;
    cursor: pointer;
}

#options1{
    font-size: 25px;
    padding: 6px;
    width: 270px;
}

#options2{
    font-size: 25px;
    padding: 6px;
    width: 370px;
}
