.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input{
    margin-top: 20px;
    font-size: 30px;
}

.results > button {
    margin: 20px;
    font-size: 25px;
    padding: 8px;
}

#options{
    font-size: 30px;
    padding: 5px;
    width: 270px;
}